<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- TD - template Driven approach - means evrything you want to do with a form you need to do in HTML template to refclect it in NgForm-->
      <!-- By default HtML submit form as submit, but we can interfere with angular using ngSubmit -->
      <!-- #form local reference to an element from previous topics (In that case HTMLFormElement)-->
      <!-- If we add #form="ngForm" angular has a directive ngForm which will be used this form (element directive was called on) 
      as a selector will get through this HTMLFormElelemnt collect values and build this json object form. And since then
      form will refer to angular json form. -->
      <!-- ngForm has a lot properties which help us to create interactive UX for users (dirty, invalid, touched and so on)  -->
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <!-- By default angular in td approach will create form for any HTML taged <form> but won't create controllers for this form
                 (fields which should be included in json represensation) we need to do it manually by adding ngModel
                 directive. (ngModule directive available in the FormsModule - which we import through our AppModule).
                 We also need to add key value for this control in json through name attribute.         
            -->
            <input type="text"
             id="username" 
             class="form-control"
             ngModel 
             name="username"
            >
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModule name="email">
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" 
                  class="form-control"
                  ngModule
                  name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
