<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" required email> 
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" name="pass" id="pass" ngModel class="form-control" required>
        </div>
        <!-- Use NGRX state feature only for states shared among many others components. No need to maintain it here for instatnce
        where we have only one local component dependent on if form is valid. -->
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
      </form>
    </div>
  </div>