<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- 
          With each a href link clicked default behaviour is reload an app what as result lead to lost of 
          application state and data (in ui). It is expected but often not behaiour we need. So it is better 
          to use routerLink which will anylized by angular and hnadled differently.
        -->
        <!-- <li role="presentation"><a href="/servers">Servers</a></li> -->
        <!-- routerLink intercepts when we click on element and override default behaviour of a link to reload the page, 
        instead it parse and try to find a match in application routers to redirect to the component w/o reloading -->
        <!-- By default routerLinkActive='active' check for contains routerLink what means /servers contains / so
             as result it will be active always. But we can use directive through the property binding (so be able to provide
             json there not just string - everything what can be processed dynamically) 
             exact:true and the it will check for equals not contains so /servers won't be equal to / 
        -->
        <li role="presentation"
            routerLinkActive='active'
            [routerLinkActiveOptions]="{exact:true}"
        ><a routerLink="/">Home</a></li>
        <!-- 
          We can put down routerLink="servers" but w/o starting slash it is going to be relative pass (with slash absolute)
          so this relative path will work fine because it is placed in root component and this component has locolhost:4200
          address so our final path will be localhost:4200/servers. But if we place link with routerLink="servers" for instance in 
          server component then it will be like localhost:4200/servers/servers cause our server component will be oppened at 
          address bar localhost:4200/servers and relative path will add /servers to this path whereas absolute path would've
          add /servers to base url localhost:4200.
          We can also use ./servers what is equal relative path 'servers'.
          We can also use ../servers what mean go back one level of path and apply servers, and so on ../../servers      
        -->
        <li role="presentation" routerLinkActive='active'><a routerLink="/servers">Servers</a></li>
        <li role="presentation" routerLinkActive='active'><a [routerLink]="[ '/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
