<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <!-- The <label> element does not render as anything special for the user. However, it provides a 
            usability improvement for mouse users, because if the user clicks on the text within the <label> 
            element, it toggles the control. 
            Tip: A label can be bound to an element either by using the "for" attribute, or by placing the 
            element inside the <label> element.
          -->
          <!-- This name property is going to be used for getting property value from ngForm object in code -->
          <label for="name">Name</label>
          <input 
          type="text" 
          id="name" 
          class="form-control"
          name="name"
          ngModel
          required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
          type="number" 
          id="amount" 
          class="form-control"
          name="amount"
          ngModel
          required
          [pattern]="'^[0-9]+[0-9]*$'"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- Lector mentioned that because Add is only type submit it will submit a form (will be intercepted by angular at ngSubmit) -->
          <button class="btn btn-success" type="submit" [disabled]="!form.valid">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
